<img src="../assets/images/cinemabackground.jpg">

<div class="container-fluid">
    <div class="navbar-collapse" id="profile">
        <a class="nav-link text-white" href="/user/profile">Profile</a>
    </div>

    <div class="navbar-collapse" id="logout">
        <a class="nav-link text-white" href="/auth/logout">Logout</a>
        </ul>
    </div>

    <form>
        <input type="text" name="search" placeholder="Search by film...">
    </form>

    <!--Start of adding movie images-->
    <div class="row">
        <div class="col-4" id="storeList">
            <table class="storeTable" style="width:100">
                <tr>
                    <th>Portals</th>
                </tr>
            </table>
        </div>
        <div class="col scroll" id="filmList">
             <table class="filmTable">
                 <tr>
                    <th>Film Name</th>
                    <th>Description</th>
                 </tr>
             </table>
        </div>
    </div>
</div>