body {
    background: url(../assets/images/loginbackground.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: fixed;
}

/* Fixes footer to bottom of page, added borders and font style */
footer {
    position:fixed; 
    bottom: 0; 
    margin-bottom: 5px;
    width:100%; 
    height:60px;
    color: whitesmoke;
    text-align: center;
    background: transparent;
}

/* Github links text color */
.footerlinks {
    color: whitesmoke;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.navbar {
    background: none;
    color: black;
}



